---
import { ClientRouter } from 'astro:transitions';
import Header from './Header.astro';
import Footer from './Footer.astro';
import '../styles/global.css';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="dark">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700;900&family=Work+Sans:wght@300;400;500;600;700&display=swap" rel="stylesheet"/>
		<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&display=swap" rel="stylesheet"/>
		<title>{title}</title>
		<ClientRouter />
	</head>
	<body class="bg-background text-on-background">
		<Header />
		<main class="pt-[88px]">
			<slot />
		</main>
		<Footer />
	</body>
</html>
